<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Software Engineering Team Generator</title>
    <meta name="description" content="Software Engineering Team Generator">
    <meta name="author" content="Siavash Ashkiani">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav
                class="navbar navbar-light navbar-expand-md bg-faded justify-content-center  bg-info text-white my-2 text-center">
                <div class="p-2 m-1 w-100">
                    <h2>Software Engineering Team</h2>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row">
            --Manager--
        </div>
        --Team--
    </div>
    <footer>
        <div class="fixed-bottom bg-info text-white text-center">
            <small>&copy; Copyright 2020, Siavash Ashkiani</small>
        </div>
    </footer>
</body>

</html>